.face-controller-container,
.sub-face-controller-container {
    overflow-y: scroll;
    scrollbar-width: none;
    width: 400px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 20px;
    transition: all 0.5s ease;

    .heading {
        margin: 0 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: var(--text);
            font-weight: 500;
        }

        .json-output {
            width: 40px;
        }

        .add-btn {
            padding: 8px 12px;
            border-radius: 6px;
        }
    }

    .faces-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .face-card {
            padding: 12px;
            border-radius: 12px;

            .face-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;

                h3 {
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .btns {
                    display: flex;
                    gap: 4px;

                    .btn-face {
                        min-width: 32px;
                        padding: 2px;
                        background: transparent;
                        font-size: 20px;
                        color: var(--secondary);

                        &.selected-face {
                            color: var(--text);
                            text-shadow: 0 0 8px var(--border-glow);
                        }

                        &.openned-face {
                            color: var(--text);
                            text-shadow: 0 0 8px var(--border-glow);
                        }

                        &.visible-face {
                            color: var(--text);
                            text-shadow: 0 0 8px var(--border-glow);
                        }

                        &.remove-face {
                            color: #dc3545;
                            text-shadow: 0 0 8px #dc354599;
                        }
                    }
                }
            }

            .steps {
                margin: 12px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;

                .step-row {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 8px;

                    select {
                        height: 40px;
                    }

                    input {
                        width: 0;
                        flex: 1;
                        text-align: center;
                    }

                    .btns {
                        display: flex;
                        gap: 4px;

                        .btn-step {
                            min-width: 32px;
                            padding: 2px;
                            background: transparent;
                            font-size: 20px;
                            color: var(--secondary);

                            &.visible-step {
                                color: var(--text);
                                text-shadow: 0 0 8px var(--border-glow);
                            }

                            &.remove-step {
                                color: #dc3545;
                                text-shadow: 0 0 8px #dc354599;
                            }
                        }
                    }
                }
            }

            .add-step-box {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
            }
        }
    }
}

.sub-face-controller-container {
    .heading {
        margin: 0 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: var(--text);
            font-weight: 500;
        }

        .btn-close {
            position: absolute;
            top: 12px;
            right: 12px;
            min-width: 32px;
            padding: 2px;
            background: transparent;
            font-size: 20px;
            color: #dc3545;
            text-shadow: 0 0 8px #dc354599;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .form-group {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            &.form-color {
                flex-direction: column;
                width: fit-content;
                gap: 14px;
            }

            .input-group {
                flex: 1;
                position: relative;

                &.flex-2 {
                    flex: 2;
                }

                input {
                    width: 100%;
                    font-size: 16px;
                    text-align: center;
                }

                label {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    opacity: 0.4;
                    font-weight: bold;
                    padding: 0 4px;
                    transition: 0.2s ease;
                    pointer-events: none;
                }

                input:focus+label,
                input:not(:placeholder-shown)+label {
                    left: 8px;
                    border-radius: 10px;
                    font-size: 12px;
                    opacity: 1;

                    /* top: -7px;
                    color: var(--background-1);
                    background: var(--border); */

                    top: -10px;
                    border: 2px solid var(--border);
                    background: var(--background-1);
                    /* box-shadow: 0 0 6px var(--border-glow), 0 0 0 3px #38BDF866, inset 0 0 6px var(--border-glow); */
                }
            }

            .btn-name,
            .btn-border {
                min-width: 32px;
                padding: 2px;
                background: transparent;
                font-size: 20px;
                color: var(--secondary);

                &.visible-name,
                &.visible-border {
                    color: var(--text);
                    text-shadow: 0 0 8px var(--border-glow);
                }
            }
        }
    }
}

.face-controller-container,
.sub-face-controller-container {
    &.size1 {
        height: 90vh;
        top: 5vh;
        right: 20px;
    }

    &.size2 {
        height: 35vh;
        top: 5vh;
        right: 20px;
    }

    &.size3 {
        height: 50vh;
        top: 45vh;
        right: 20px;
    }

    &.size4 {
        height: 0vh;
        top: 95vh;
        right: 20px;
        padding: 0;
        opacity: 0;
    }
}