.face-dot-vector-function-controller-container {
    overflow-y: scroll;
    scrollbar-width: none;
    width: fit-content;
    max-width: 480px;
    min-width: 480px;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 20px;
    transition: all 0.5s ease;

    .heading {
        margin: 0 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            width: 300px;
            color: var(--text);
            font-weight: 500;
            opacity: 1;
            transition: all 0.5s ease;
            text-wrap: nowrap;
            overflow: hidden;
        }

        .control {
            display: flex;
            gap: 8px;

            .btn-collapsed {
                padding: 0px;
                background: var(--background-1);
                transform: rotateZ(0deg);
                transition: all 0.5s ease;
            }

            .json-output {
                width: 44px;
                height: 44px;
            }

            .btn {
                width: 44px;
                height: 44px;
                padding: 0px;
                border-radius: 6px;
            }
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .card {
            position: relative;
            border-radius: 12px;
            padding: 8px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;

                h3 {
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .btns {
                    display: flex;
                    gap: 4px;

                    .collapse-hidden {
                        display: flex;
                        gap: 4px;
                        width: fit-content;
                        max-width: 176px;
                        min-width: 0px;
                        overflow: hidden;
                        transition: all 0.5s ease;
                    }

                    .btn-click {
                        min-width: 32px;
                        padding: 2px;
                        background: transparent;
                        font-size: 20px;
                        color: var(--secondary);

                        &.selected,
                        &.opened-select,
                        &.visible-select,
                        &.show-coordinate-axes-select {
                            color: var(--text);
                            text-shadow: 0 0 8px var(--border-glow);
                        }

                        &.remove-click {
                            color: #dc3545;
                            text-shadow: 0 0 8px #dc354599;
                        }
                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;

                &.steps {
                    gap: 8px;

                    .row {
                        input {
                            width: 0;
                            flex: 1;
                            text-align: center;
                        }
                    }
                }

                .row {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 8px;

                    select {
                        height: 40px;
                    }

                    .btns {
                        display: flex;
                        gap: 4px;

                        .btn-step {
                            min-width: 32px;
                            padding: 2px;
                            background: transparent;
                            font-size: 20px;
                            color: var(--secondary);

                            &.visible-step {
                                color: var(--text);
                                text-shadow: 0 0 8px var(--border-glow);
                            }

                            &.remove-step {
                                color: #dc3545;
                                text-shadow: 0 0 8px #dc354599;
                            }
                        }
                    }
                }
            }

            .btn-add {
                width: 100%;
            }
        }
    }

    &.collapsed {
        max-width: 480px;
        min-width: 0px;

        .heading {
            h2 {
                width: 0px;
                opacity: 0;
                transition: all 0.5s ease;
            }

            .control {
                .btn-collapsed {
                    transform: rotateZ(180deg);
                }
            }
        }

        .list {
            .card {
                .header {
                    .btns {
                        .collapse-hidden {
                            max-width: 0px;
                            min-width: 0px;
                            transition: all 0.2s ease;
                        }
                    }
                }
            }
        }
    }
}

.sub-face-controller-container {
    .heading {
        margin: 0 0 20px;
        display: flex;
        align-items: center;

        h2 {
            color: var(--text);
            font-weight: 500;
        }

        .btn-close {
            position: absolute;
            top: 12px;
            right: 12px;
            min-width: 32px;
            padding: 2px;
            background: transparent;
            font-size: 20px;
            color: #dc3545;
            text-shadow: 0 0 8px #dc354599;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .form-group {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            &.form-color {
                flex-direction: column;
                width: fit-content;
                gap: 14px;
            }

            &.form-shape {
                align-items: start;

                .textarea-group {
                    flex: 1;
                    display: flex;
                    position: relative;

                    textarea {
                        flex: 1;
                        overflow: hidden;
                        resize: vertical;
                    }

                    label {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        opacity: 0.4;
                        font-weight: bold;
                        padding: 0 4px;
                        transition: 0.2s ease;
                        pointer-events: none;
                    }

                    textarea:focus+label,
                    textarea:not(:placeholder-shown)+label {
                        left: 8px;
                        border-radius: 10px;
                        font-size: 12px;
                        opacity: 1;

                        /* top: -7px;
                    color: var(--background-1);
                    background: var(--border); */

                        top: -10px;
                        border: 2px solid var(--border);
                        background: var(--background-1);
                        /* box-shadow: 0 0 6px var(--border-glow), 0 0 0 3px #38BDF866, inset 0 0 6px var(--border-glow); */
                    }
                }
            }

            .btn-name,
            .btn-border,
            .btn-glow {
                min-width: 32px;
                padding: 2px;
                background: transparent;
                font-size: 20px;
                color: var(--secondary);

                &.visible-name,
                &.visible-border,
                &.visible-glow {
                    color: var(--text);
                    text-shadow: 0 0 8px var(--border-glow);
                }
            }
        }
    }
}

.face-dot-vector-function-controller-container {
    &.size_1_1 {
        height: 88vh;
        top: 10vh;
        right: 2vh;
    }

    &.size_1_2 {
        height: 56vh;
        top: 10vh;
        right: 2vh;
    }

    &.size_1_3 {
        height: 0vh;
        right: 2vh;
        top: 96vh;
        padding: 0 20px;
        opacity: 0;
    }

    &.size_1_4 {
        height: 0vh;
        top: 66vh;
        right: 2vh;
        padding: 0 20px;
        opacity: 0;
    }

    &.size_2_1 {
        height: 30vh;
        top: 68vh;
        right: 2vh;
    }

    &.size_2_2 {
        height: 0vh;
        top: 98vh;
        right: 2vh;
        padding: 0 20px;
        opacity: 0;
    }
}