.face-controller-container {
    overflow-y: scroll;
    scrollbar-width: none;
    width: 400px;
    max-width: 400px;
    height: 600px;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 100px;
    right: 20px;
    border-radius: 20px;

    h2 {
        margin: 0 0 16px;
        color: var(--accent);
        font-weight: 500;
    }

    .add-btn {
        padding: 8px 12px;
        margin-bottom: 12px;
        border-radius: 6px;
    }

    .faces-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .face-card {
            padding: 12px;
            border-radius: 12px;

            .face-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .remove-face {
                    background: transparent;
                    border: none;
                    font-size: 20px;
                    cursor: pointer;
                    color: #900;
                }
            }

            .steps {
                margin-top: 10px;

                .step-row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 8px;

                    select {
                        height: 40px;
                    }

                    input {
                        width: 60px;
                        text-align: center;

                        &.clipPath {
                            width: 160px;
                        }
                    }

                    .remove-step {
                        background: transparent;
                        border: none;
                        font-size: 20px;
                        color: #c00;
                        cursor: pointer;
                    }
                }
            }

            .add-step-box {
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
            }
        }
    }
}