.generate-object-container {
    perspective: 600px;

    .scene-object {
        width: 100%;
        height: 100vh;
        min-height: 400px;
        perspective: 600px;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;

        user-select: none;
        transition: all 0.2s ease;

        .object {
            position: relative;
            width: fit-content;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-style: preserve-3d;
            transition: all 0.1s ease;

            .face-svg,
            .dot-svg {
                position: absolute;
                overflow: initial;

                transform-style: preserve-3d;
                transition: all 1s ease;
            }
        }
    }
}