.scene-object {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    perspective: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;

    user-select: none;
    transition: all 0.2s ease;

    .object {
        position: relative;
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        transition: all 0.1s ease;

        /* .face {
            position: absolute;
            width: 100px;
            height: 100px;
            background: var(--face);
            opacity: 0.8;
            transition: all 1s ease;

            border: 1px solid var(--border);
            box-shadow: 0 0 8px 1px var(--border-glow);

            display: flex;
            justify-content: center;
            align-items: center;
        } */

        .face-svg {
            position: absolute;
            /* width: 100px; */
            /* height: 100px; */
            /* border: 1px solid red; */
            overflow: initial;

            /* opacity: 0.85; */
            transform-style: preserve-3d;
            transition: all 1s ease;

            pointer-events: none;
        }
    }
}