.click-icon-list-container {
    position: relative;
    z-index: 1;

    &.open {
        z-index: 10;
    }

    .list-button {
        position: absolute;
        top: 110%;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 2px;
        z-index: 11;

        .item {
            width: 40px;
            height: 40px;
            padding: 0px;
            background: var(--background-1) !important;
            border: 2px solid var(--border);
            box-shadow: 0 0 6px var(--border-glow), inset 0 0 6px var(--border-glow);
            text-shadow: 0 0 8px var(--border-glow);

            &:first-child {
                border-radius: 50% 50% 0 0;
                border-bottom-right-radius: 6px;
                border-bottom-left-radius: 6px;
            }

            &:last-child {
                border-radius: 0 0 50% 50%;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
            }

            &:hover {
                /* secondary */
                box-shadow: 0 0 12px #0EA5E9;
            }

            &:active {
                /* primary */
                box-shadow: 0 0 20px #38BDF8;
            }

            &.off {
                opacity: 0.4;
            }
        }
    }
}