.scene-controller-container {
    top: 3vh;
    right: 20px;
    width: 1000px;
    max-width: 1000px;
    position: absolute;
    transition: all 0.5s ease;

    form {
        display: flex;
        gap: 8px;

        .form-group {
            display: flex;
            align-items: center;

            .btn {
                padding: 2px 4px;
                height: 28px;
                width: 28px;
                background: transparent;
                box-shadow: none;
                margin-right: -2px;

                &:nth-child(odd) {
                    margin-left: -2px;
                }
            }

            .input-group {
                flex: 1;
                position: relative;

                input {
                    width: 100%;
                    font-size: 16px;
                    text-align: center;
                }

                label {
                    padding: 0 4px;
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    transform: translate(-50%);
                    background: var(--background-1);
                    border: 2px solid var(--border);
                    border-radius: 10px;
                    font-size: 12px;
                    font-weight: bold;
                    transition: 0.2s ease;
                    pointer-events: none;
                }
            }
        }
    }
}