.scene-controller-container {
    position: absolute;
    top: 2vh;
    right: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;

    .btn {
        height: 40px;
    }

    form {
        max-width: 800px;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: all 0.5s ease;
        overflow: hidden;

        &.collapsed {
            max-width: 0px;
            opacity: 0;

            .btn-reset {
                opacity: 0;
                transition: all 0.5s ease;
            }
        }

        .btn-reset {
            transition: all 1s ease;
        }

        .form-group {
            display: flex;
            align-items: center;

            .btn {
                padding: 2px 4px;
                height: 28px;
                width: 28px;
                background: transparent;
                box-shadow: none;

                &.odd {
                    margin: 0 -2px 0 0;
                }

                &.even {
                    margin: 0 0 0 -2px;
                }
            }
        }
    }

    .btn-collapsed {
        background: var(--background-1);
        transform: rotateZ(180deg);
        transition: all 0.5s ease;

        &.cls {
            transform: rotateZ(0deg);
        }
    }
}