.click-percent-box-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .modal-box {
        position: relative;
        width: fit-content;
        max-width: 60vw;
        height: fit-content;
        max-height: 80vh;
        overflow-y: scroll;
        scrollbar-width: none;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .heading {
            display: flex;
            align-items: center;

            h2 {
                color: var(--text);
                font-weight: 500;
            }

            .btn-close {
                position: absolute;
                top: 12px;
                right: 12px;
                min-width: 32px;
                padding: 2px;
                background: transparent;
                font-size: 20px;
                color: #dc3545;
                text-shadow: 0 0 8px #dc354599;
            }
        }

        .input-group {
            width: 100%;
            display: flex;
            position: relative;

            textarea {
                flex: 1;
                overflow: hidden;
                resize: vertical;
            }

            label {
                position: absolute;
                top: 10px;
                left: 10px;
                opacity: 0.4;
                font-weight: bold;
                padding: 0 4px;
                transition: 0.2s ease;
                pointer-events: none;
            }

            textarea:focus+label,
            textarea:not(:placeholder-shown)+label {
                top: -10px;
                left: 8px;
                border-radius: 10px;
                font-size: 12px;
                opacity: 1;
                border: 2px solid var(--border);
                background: var(--background-1);
            }
        }

        .content {
            display: flex;
            gap: 12px;

            .drawing-board {
                position: relative;
                cursor: crosshair;
                user-select: none;

                .drawing-svg {
                    position: relative;
                    background: #38BDF833;
                    border: 2px solid var(--border);
                    box-shadow: 0 0 20px var(--border-glow), inset 0 0 6px var(--border-glow);
                    box-sizing: border-box;
                    cursor: crosshair;
                    user-select: none;
                }
            }

            .btns {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }

        .btn-approve {
            width: 100%;
        }
    }
}