.button-list-container {
    position: relative;

    .list-button {
        position: absolute;
        top: 110%;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
        z-index: 1;

        .item {
            padding: 8px 20px;
            color: var(--accent);
            background: #38BDF899;
            backdrop-filter: blur(4px);
            border: 2px solid var(--border);
            box-shadow: 0 0 6px var(--border-glow), inset 0 0 6px var(--border-glow);
            text-shadow: 0 0 8px var(--border-glow);

            &:first-child {
                border-radius: 20px 20px 0 0;
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            &:last-child {
                border-radius: 0 0 20px 20px;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
            }

            &:hover {
                /* primary */
                background: #38BDF8;
                /* secondary */
                box-shadow: 0 0 12px #0EA5E9;
            }

            &.off {
                opacity: 0.4;
            }
        }
    }
}