.function-controller-panel-container {
    .list {
        .card {
            .header {
                margin: 0 0 8px;
            }

            .function-dots-vector {
                display: flex;
                gap: 8px;

                select {
                    width: 60px;
                    padding: 6px 8px;
                }

                .btn {
                    flex: 1;
                }
            }
        }
    }
}