.function-controller-panel-container {
    .list {
        .card {
            .header {
                margin: 0 0 8px;
            }

            .function-dots-vector {
                margin: 12px 0 0;
                display: flex;
                flex-direction: column;
                gap: 12px;

                .row {
                    display: flex;
                    gap: 8px;

                    select {
                        flex: 1;
                    }

                    &.row-1 {
                        .btn {
                            flex: 1;
                        }
                    }

                    &.row-2 {
                        .btn {
                            flex: 5;
                        }
                    }
                }
            }
        }
    }
}