.function-controller-panel-container {
    .list {
        .card {
            padding: 12px !important;

            .row-1 {
                .selects {
                    flex: 3;
                    display: flex;
                    gap: 8px;
                }

                .btns {
                    flex: 2;
                    display: flex;
                    gap: 8px;

                    .btn {
                        flex: 1;
                    }
                }
            }

            .row-2 {
                .selects {
                    flex: 3;
                    display: flex;
                    gap: 8px;
                }

                .btns {
                    flex: 2;
                    display: flex;

                    .btn {
                        flex: 1;
                    }
                }
            }
        }
    }
}