.navigation-bar-container {
    height: 100vh;
    border-right: 2px solid var(--border);
    box-shadow: 0 0 6px var(--border-glow), inset 0 0 6px var(--border-glow);
    box-sizing: border-box;
    position: fixed !important;
    scrollbar-width: none;
    transition: all 0.5s ease;
    user-select: none;
    z-index: 2;

    a {
        .logo {
            padding: 16px;
            margin: 16px 0;
            font-size: 36px;
            font-weight: bold;
            text-align: center;
        }
    }

    .btn-collapsed {
        padding: 4px;
        width: 40px;
        background: var(--background-1);
        position: absolute;
        right: -20px;
        transform: rotateZ(0deg);
        transition: all 0.5s ease;
    }

    ul {
        margin: 0 0 0 -40px;
        padding: 0 60px;
        height: calc(100vh - 120px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;

        li {
            list-style: none;
            cursor: pointer;

            .box {
                position: relative;
                text-align: right;
                transform: skewY(15deg);
                transition: all 0.2s ease;
                z-index: calc(1 * var(--i));

                &.located {
                    .face-text {
                        color: var(--accent);
                        background: #0471A0E6;
                    }

                    .face-text::before {
                        background: #0471A04D;
                    }

                    .face-icon {
                        color: var(--accent);
                        background: #0471A099;
                    }
                }

                &:hover {
                    transform: skewY(15deg) translateX(40px);
                }

                &:hover .face-text {
                    color: var(--accent);
                    background: #38BDF8E6;
                }

                &:hover .face-text::before {
                    background: #38BDF84D;
                }

                &:hover .face-icon {
                    color: var(--accent);
                    background: #38BDF899;
                }

                .face-text {
                    color: var(--primary);
                    position: relative;
                    width: 200px;
                    padding: 16px;
                    margin: 0 0 20px;
                    background: #04143AE6;
                    transition: all 0.2s ease;
                    border: 1px solid var(--border);
                    box-shadow: 0 0 6px var(--border-glow), inset 0 0 6px var(--border-glow);
                    text-shadow: 0 0 8px var(--border-glow);
                    box-sizing: border-box;

                    span {
                        opacity: 1;
                        transition: all 0.2s ease;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: -41px;
                        left: -1px;
                        width: 100%;
                        height: 38px;
                        background: #04143A4D;
                        transform-origin: bottom;
                        transform: skewX(-45deg);
                        transition: all 0.2s ease;
                        border: 1px solid var(--border);
                        box-shadow: 0 0 6px var(--border-glow), inset 0 0 6px var(--border-glow);
                        text-shadow: 0 0 8px var(--border-glow);
                    }
                }

                .face-icon {
                    color: var(--accent);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    right: -40px;
                    width: 40px;
                    height: 100%;
                    background: #04143A99;
                    transform-origin: left;
                    transform: skewY(-45deg);
                    transition: all 0.2s ease;
                    border: 1px solid var(--border);
                    box-shadow: 0 0 6px var(--border-glow), inset 0 0 6px var(--border-glow);
                    text-shadow: 0 0 8px var(--border-glow);
                    box-sizing: border-box;
                }
            }

            button {
                padding: 0;
                background-color: transparent;

                .face-text {
                    margin: 0 !important;
                    text-align: right;
                }
            }

            &:last-child .face-text::before {
                box-shadow: 120px 120px 20px 0 var(--background-1);
            }
        }
    }

    &.collapsed {
        margin-left: -160px;

        .btn-collapsed {
            transform: rotateZ(180deg);
        }

        ul {
            padding-right: 80px;

            li {
                .box {
                    transform: skewY(30deg);
                    transition: all 0.25s ease;

                    &:hover {
                        transform: skewY(30deg) translateX(90px);
                    }

                    &:hover .face-text>span {
                        opacity: 1;
                    }

                    .face-text {
                        width: 160px;

                        span {
                            opacity: 0;
                        }

                        &::before {
                            top: -51px;
                            left: -1px;
                            height: 48px;
                            transform: skewX(-50deg);
                        }
                    }

                    .face-icon {
                        right: -60px;
                        width: 60px;
                        transform: skewY(-40deg);
                    }
                }
            }
        }
    }
}