.dot-controller-panel-container {
    .list {
        .card {
            padding: 12px !important;

            .header {
                .name-group {
                    flex: 1;
                    max-width: 80px;
                    position: relative;
                    transition: all 0.5s ease;

                    &.expanse {
                        max-width: 200px;
                    }

                    .tag {
                        width: fit-content;
                        padding: 0 4px;
                        position: absolute;
                        bottom: -14px;
                        left: 50%;
                        transform: translate(-50%);
                        border-radius: 10px;
                        font-size: 12px;
                        font-weight: bold;
                        white-space: nowrap;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}