.dot-controller-panel-container {
    .list {
        .card {
            padding: 12px !important;

            .header {
                .name-group {
                    flex: 1;
                    max-width: 90px;
                    position: relative;
                    transition: 0.3s ease;

                    &.expanse {
                        max-width: 200px;
                        transition: 0.6s ease;
                    }
                }

                .tag {
                    width: fit-content;
                    padding: 0 4px;
                    position: absolute;
                    bottom: -14px;
                    left: 50%;
                    transform: translate(-50%);
                    border-radius: 10px;
                    font-size: 12px;
                    font-weight: bold;
                    white-space: nowrap;
                    pointer-events: none;
                }
            }
        }
    }
}