.dot-controller-panel-container {
    .list {
        .card {
            padding: 12px !important;

            .header {
                .collapse-hidden {
                    display: flex;
                }

                .input-group {
                    flex: 1;
                    max-width: 50px;
                    position: relative;
                    transition: 0.3s ease;

                    &.expanse {
                        max-width: 200px;
                        transition: 0.6s ease;
                    }

                    input {
                        padding: 8px 4px;
                        width: 100%;
                        font-size: 16px;
                        text-align: center;
                    }

                    label {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        opacity: 0.4;
                        font-weight: bold;
                        padding: 0 4px;
                        transition: 0.2s ease;
                        pointer-events: none;
                    }

                    input:focus+label,
                    input:not(:placeholder-shown)+label {
                        left: 8px;
                        top: -10px;
                        border-radius: 10px;
                        font-size: 12px;
                        opacity: 1;
                        border: 2px solid var(--border);
                        background: var(--background-1);
                    }

                    .tag {
                        width: fit-content;
                        position: absolute;
                        bottom: -14px;
                        left: 50%;
                        transform: translate(-50%);
                        font-size: 12px;
                        font-weight: bold;
                        white-space: nowrap;
                        pointer-events: none;
                    }
                }
            }

            .coordinates {
                margin: 12px 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;

                .input-group {
                    flex: 1;
                    position: relative;

                    input {
                        width: 100%;
                        font-size: 16px;
                        text-align: center;
                    }

                    label {
                        padding: 0 4px;
                        position: absolute;
                        top: -10px;
                        left: 8px;
                        background: var(--background-1);
                        border: 2px solid var(--border);
                        border-radius: 10px;
                        font-size: 12px;
                        font-weight: bold;
                        transition: 0.2s ease;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}