.keyframes-controller-panel-container {
    .grid-row {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 12px;

        .grid-col {
            display: flex;
            justify-content: center;
            align-items: start;
            cursor: pointer;

            .btn {
                width: 100%;
                padding: 8px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .list {
        .card {
            padding: 12px !important;

            .header {
                .name-group {
                    flex: 1;
                    max-width: 90px;
                    position: relative;
                    transition: 0.3s ease;

                    &.expanse {
                        max-width: 200px;
                        transition: 0.6s ease;
                        /* animation: abc 5s alternate; */
                    }
                }
            }
        }
    }
}