.keyframes-controller-panel-container {
    .heading-btn {
        margin: 0 0 16px;

        .btns {
            display: flex;
            gap: 8px;
        }

        .grid-row {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 12px;

            .grid-col {
                display: flex;
                justify-content: center;
                align-items: start;
                cursor: pointer;

                .btn {
                    width: 100%;
                    padding: 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .selected-animation {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .animation-attribute {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .row {
                display: flex;
                gap: 8px;
            }
        }

        .list {
            gap: 12px !important;

            label {
                width: fit-content;
                padding: 2px 4px;
                border: 2px solid var(--border);
            }

            .card {
                padding: 12px !important;

                .header {
                    .name-group {
                        flex: 1;
                        max-width: 90px;
                        position: relative;
                        transition: 0.3s ease;

                        &.expanse {
                            max-width: 200px;
                            transition: 0.6s ease;
                            /* animation: abc 5s alternate; */
                        }
                    }
                }
            }
        }
    }
}