@font-face {
  font-family: 'Akashi';
  src: url('/fonts/UTM Akashi.ttf') format('truetype');
}

@font-face {
  font-family: 'Organix';
  src: url('/fonts/Organix.otf') format('truetype');
}

#root {
  width: 100%;
}

:root {
  --font-tech: 'Inter', 'Organix', 'Akashi', Arial;

  --gray-1: #111827;
  --gray-2: #1F2937;
  --gray-3: #374151;
  --text-primary: #E6EDF3;
  --text-secondary: #7D8590;
  --button-primary-bg: #F0F6FC;
  --button-primary-text: #161B22;
  --button-secondary-bg: #21262D;

  --bg-deep: #020617;
  /* nền sâu nhất */
  --bg-dark-blue: #020C2A;
  --bg-tech: #04143A;

  --neon-blue-1: #38BDF8;
  /* ánh sáng chính */
  --neon-blue-2: #0EA5E9;
  --neon-cyan: #22D3EE;

  --text-main: #E5E7EB;
  /* chữ chính */
  --text-muted: #94A3B8;
  /* chữ phụ */
  --text-cyber: #7DD3FC;
  /* chữ dữ liệu */

  --background-1: #04143A;
  --background-1-trans: #04143A20;
  --background-2: #184BB4;

  --face: #68FCFF80;

  --primary: #38BDF8;
  --secondary: #0EA5E9;
  --accent: #80FCFF;

  --muted: #94A3B8;

  --border: #68FCFF;
  --border-glow: #38BDF899;
  --border-soft: #94A3B833;
}

body {
  background-color: var(--gray-1);
  margin: 0;
  padding: 0;
  font-family: var(--font-tech);

  background: linear-gradient(to bottom, var(--background-1), var(--background-2), var(--background-1));
  color: var(--accent);
}

a {
  outline: none;
  text-decoration: none;
}

img {
  object-fit: cover;
  object-position: center;
}

input,
textarea,
select {
  outline: none;
  height: 100%;
  padding: 8px 12px;
  border: 2px solid var(--text-secondary);
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.15s ease;
  font-family: var(--font-tech);
}

input::placeholder {
  color: var(--text-primary);
}

select {
  cursor: pointer;
  padding: 6px 12px;
}

button {
  cursor: pointer;
  user-select: none;
  outline: none;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.15s ease;
  font-family: var(--font-tech);

  &:disabled {
    opacity: 0.4;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #007bff80;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #007bff;
}

::-webkit-scrollbar-thumb:hover {
  background: #0068d8;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type='file']::-webkit-file-upload-button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
}

progress::-webkit-progress-bar {
  background-color: #eee;
}

progress::-webkit-progress-value {
  background-color: #4caf50;
}

::selection {
  background: #007bff;
  color: #fff;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #007bff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

video::-webkit-media-controls-play-button {
  display: none;
}

.glow {
  color: var(--accent);
  text-shadow: 0 0 8px #38bdf8cc, 0 0 20px #22d3ee99;
}

.btn {
  color: var(--accent);
  /* primary */
  background: #38BDF899;
  border: 2px solid var(--border);
  box-shadow: 0 0 6px var(--border-glow);

  &:hover {
    /* primary */
    background: #38BDF8;
    /* secondary */
    box-shadow: 0 0 12px #0EA5E9;
  }
}

.card {
  background: var(--background-1-trans);
  backdrop-filter: blur(4px);
  border: 2px solid var(--border);
  box-shadow: 0 0 6px var(--border-glow), inset 0 0 6px var(--border-glow);
  text-shadow: 0 0 8px var(--border-glow);
}

.input {
  color: var(--primary);
  background: transparent;
  border: 2px solid var(--border);
  box-shadow: 0 0 6px var(--border-glow), inset 0 0 6px var(--border-glow);
  text-shadow: 0 0 4px var(--border-glow);
}

.select {
  color: var(--primary);
  background: transparent;
  border: 2px solid var(--border);
  box-shadow: 0 0 6px var(--border-glow), inset 0 0 6px var(--border-glow);
  text-shadow: 0 0 4px var(--border-glow);
}

.option {
  color: var(--accent);
  background: var(--background-1);
}